<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Build a Pizza</title>
    <meta name="author" content="Cassidy" />
    <meta name="description" content="Build a pizza!" />
    <meta name="keywords" content="fullpage,jquery,pizza,app" />
    <meta name="Resource-type" content="Document" />

    <link rel="stylesheet" type="text/css" href="/static/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/static/examples.css" />

    <style>
        input{
      		margin: 100px;
      		background-color: #EE6E73; color: white; margin: 20px; padding: 10px 20px; border: none !important; border-radius: 10px;
      	}
        .row {
            widows: 100%;
            text-align: center;
        }

        .block {
            width: 130px;
            display: inline-block;
            margin: 25px 20px;
        }


    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/static/jquery.fullPage.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                sectionsColor: ['#7BAABE', '#4BBFC3', '#ff9161', 'whitesmoke', '#ccddff'],
                anchors: ['start-info', 'sauce-info', 'veggies-info', 'meat-info', 'order-info', 'finished'],
                menu: '#menu',
                scrollingSpeed: 1000
            });
        });
    </script>
</head>

<body>
  <div id="fullpage">
    <div class="section active" id="section0">
			<h1 style="color:whitesmoke">Thanks For Ordering!</h1>
			<input type="hidden" name="id" value="1" />
      <p>Here's your pizza with:</p>
      <p>{{ session['toppings'] }}</p>
          <input type="submit" value="I'm still hungry!">
      </form>
		</div>
</body>
</html>
