<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Build a Pizza</title>
    <meta name="author" content="Cassidy" />
    <meta name="description" content="Build a pizza!" />
    <meta name="keywords" content="fullpage,jquery,pizza,app" />
    <meta name="Resource-type" content="Document" />

    <link rel="stylesheet" type="text/css" href="/static/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/static/examples.css" />

    <style>
        .row {
            widows: 100%;
            text-align: center;
        }

        .block {
            width: 130px;
            display: inline-block;
            margin: 25px 20px;
        }

        input {
            margin: 100px;
            background-color: #EE6E73;
            color: white;
            margin: 20px;
            padding: 10px 20px;
            border: none !important;
            border-radius: 10px;
        }

        img {
            height: 120px;
        }
        .large_img{
          height: 500px;
        }
        .medium_img{
          height: 350px;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/static/jquery.fullPage.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                sectionsColor: ['#ff9161', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
                anchors: ['start-info', 'sauce-info', 'veggies-info', 'meat-info', 'order-info', 'finished'],
                menu: '#menu',
                scrollingSpeed: 1000
            });
        });
    </script>
</head>

<body>

    <ul id="menu">
        <li data-menuanchor="start-info"><a href="#start-info">Top</a></li>
        <li data-menuanchor="sauce-info"><a href="#sauce-info">Sauce</a></li>
        <li data-menuanchor="veggies-info"><a href="#veggies-info">Veggies</a></li>
        <li data-menuanchor="meat-info"><a href="#meat-info">Meat</a></li>
        <li data-menuanchor="order-info"><a href="#order-info">Order</a></li>
    </ul>

    <!-- section 0 -->
    <div id="fullpage">
        <div class="section active" id="section0">
            <h1 style="color:whitesmoke">Build a Pizza</h1>
            <input type="hidden" name="id" value="1" />
            <p>Choose from the images below!</p>
            <img src="/static/img/pizza/pizza3.png" class="large_img" alt="fullPage" />
        </div>

        <!-- section 1, Sauce -->
        <div class="section" id="section1">
            <div class="intro">
                <h1>Choose a Sauce</h1>
                <div class="row">
                    <div class="block">
                        <form action="/add" method="post" class="center">
                            <input type="hidden" name="topping" value="Red Sauce" class="center">
                            <img src="/static/img/other/jelly.png" height="100px" alt="slider" />
                            <input type="submit" value="Red">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post" class="center">
                            <input type="hidden" name="topping" value="White Sauce" class="center">
                            <img src="/static/img/other/mustard.png" height="100px" alt="slider" />
                            <input type="submit" value="White">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post" class="center">
                            <input type="hidden" name="topping" value="Olive Oil" class="center">
                            <img src="/static/img/other/oil.png" height="100px" alt="slider" />
                            <input type="submit" value="Olive Oil">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section 2, Veggies -->

        <div class="section" id="section2">
            <div class="intro">
                <h1>Veggies</h1>
                <div class="row">

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Garlic">
                            <img src="{{ url_for('static', filename='img/veggies/garlic.png') }}">
                            <input type="submit" value="Garlic">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Mushrooms">
                            <img src="{{ url_for('static', filename='img/veggies/mushrooms.png') }}" height="100px">
                            <input type="submit" value="Mushrooms">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Olives">
                            <img src="{{ url_for('static', filename='img/veggies/olives.png') }}" height="100px">
                            <input type="submit" value="Olives">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Red Onion">
                            <img src="{{ url_for('static', filename='img/veggies/onion.png') }}" height="100px">
                            <input type="submit" value="Red Onion">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Pineapple">
                            <img src="{{ url_for('static', filename='img/veggies/pineapple.png') }}" height="100px">
                            <input type="submit" value="Pineapple">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Tomato">
                            <img src="{{ url_for('static', filename='img/veggies/tomato.png') }}" height="100px">
                            <input type="submit" value="Tomato">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Asparagus">
                            <img src="{{ url_for('static', filename='img/veggies/asparagus.png') }}">
                            <input type="submit" value="Asparagus">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Bell Pepper">
                            <img src="{{ url_for('static', filename='img/veggies/pepper.png') }}">
                            <input type="submit" value="Bell Pepper">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Broccoli">
                            <img src="{{ url_for('static', filename='img/veggies/broccoli.png') }}">
                            <input type="submit" value="Broccoli">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Cauliflower">
                            <img src="{{ url_for('static', filename='img/veggies/cauliflower.png') }}">
                            <input type="submit" value="Cauliflower">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Chili Pepper">
                            <img src="{{ url_for('static', filename='img/veggies/chili.png') }}">
                            <input type="submit" value="Chili Pepper">
                        </form>
                    </div>
                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Eggplant">
                            <img src="{{ url_for('static', filename='img/veggies/aubergine.png') }}">
                            <input type="submit" value="Eggplant">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section 3, Meats -->
        <div class="section" id="section3">
            <div class="intro">
                <h1>Meats & Cheese</h1>
                <div class="row">
                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Anchovy">
                            <img src="{{ url_for('static', filename='img/other/fish.png') }}">
                            <input type="submit" value="Anchovy">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Ham">
                            <img src="{{ url_for('static', filename='img/other/ham.png') }}">
                            <input type="submit" value="Ham">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Pepperoni">
                            <img src="{{url_for('static', filename='img/other/salami.png')}}">
                            <input type="submit" value="Pepperoni">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Sausage">
                            <img src="{{url_for('static', filename='img/other/sausage.png')}}">
                            <input type="submit" value="Sausage">
                        </form>
                    </div>

                    <div class="block">
                        <form action="/add" method="post">
                            <input type="hidden" name="topping" value="Cheese">
                            <img src="{{url_for('static', filename='img/other/cheese.png')}}">
                            <input type="submit" value="Cheese">
                        </form>
                    </div>

                </div>
            </div>
        </div>

<!-- Section 4, Create -->
        <div class="section" id="section4">
            <div class="intro">
                <h1>Create Your Pizza!</h1>
                <div class="row">
                    <form action="/done">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <h5 span style="color: red;">{{ message }}<h5>
										{% endfor %}
									{% endif %}
								{% endwith %}
							<img src="{{ url_for('static', filename='img/pizza/pizza (5).png') }}" class="medium_img">
							<br>
							<input type="submit" value="Gimme My Pizza!">
						</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
