<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">

    <title>Pizza Game</title>
</head>

<body>
    <form action="/logout">
        <br>
        <input type="submit" value="Log Out">
    </form>
    <div id="currentToppings">
        <h5>Your Toppings:</h5> {% for topping in session["toppings"]: %}
        <p>{{ topping }}</p>
        {% endfor %}
    </div>


    <!-- Nav bar  -->
    <nav class="red lighten-3" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><img src="{{ url_for('static', filename='img/rest/web/1.png') }}" style="width: auto; height: auto;max-width:
         55px;max-height: 55px"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><span class="white-text text-lighten-2">Welcome, {{ session["user"].username }}!<span></a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <!-- maybe add this later -->
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <!-- top banner -->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text text-lighten-3">Create Your Pizza</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Choose From the images below!</h5>
                </div>
                <div class="row center">
                    <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ url_for('static', filename='img/pizza/pizzabg2.jpg') }}" style="width: auto; height: auto;max-width:
       1440px;max-height: 740px" alt="Pizza background img 1"></div>
    </div>
    <!-- Icons -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <form action="/add" method="post" class="center">
                            <input type="hidden" name="topping" value="Red Sauce" class="center">
                            <img src="{{ url_for('static', filename='img/other/jelly.png') }}" style="width: auto; height: auto;max-width:150px;max-height: 150px">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Red Sauce">
                        </form>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <form action="/add" method="post" class="center">
                            <input type="hidden" name="topping" value="White Sauce">
                            <img src="{{ url_for('static', filename='img/other/mustard.png') }}" style="width: auto; height: auto;max-width: 150px;max-height: 150px">
                            <input type="submit" class="waves-effect waves-light btn-large" value="White Sauce">
                        </form>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <form action="/add" method="post" class="center">
                            <input type="hidden" name="topping" value="Pesto">
                            <img src="{{ url_for('static', filename='img/other/mustard.png') }}" style="width: auto; height: auto;max-width: 150px;max-height: 150px">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Pesto">
                        </form>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <form action="/add" method="post" class="center">
                            <input type="hidden" name="topping" value="Olive Oil">
                            <img src="{{ url_for('static', filename='img/other/oil.png') }}" style="width: auto; height: auto; max-width: 150px;max-height: 150px">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Olive Oil">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- end -->
    <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='img/pizza/pizzabg1.jpg') }}" style="width: auto; height: auto;max-width:
         1440px;max-height: 740px"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Build Your Own Pizza!</h2>
            <p class="grey-text text-darken-3 lighten-3">Select from the images to create the perfect pizza!</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='img/pizza/pizzabg2.jpg') }}" style="width: auto; height: auto;max-width:
         600px;max-height: 600px"></div>
    </div>

    <div id="currentToppings">
        <h5>Your Toppings:</h5>
        <p>{{ session['currentOrder'] }}</p>
    </div>

    <h4>Veggies</h4>
    <table class="centered">
        <tr>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Asparagus">
                    <img src="{{ url_for('static', filename='img/veggies/asparagus.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Asparagus">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Bell Pepper">
                    <img src="{{ url_for('static', filename='img/veggies/pepper.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Bell Pepper">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Broccoli">
                    <img src="{{ url_for('static', filename='img/veggies/broccoli.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Broccoli">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Cauliflower">
                    <img src="{{ url_for('static', filename='img/veggies/cauliflower.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Cauliflower">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Chili Pepper">
                    <img src="{{ url_for('static', filename='img/veggies/chili.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Chili Pepper">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Eggplant">
                    <img src="{{ url_for('static', filename='img/veggies/aubergine.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Eggplant">
                </form>
            </td>
        </tr>
    </table>
    <table class="centered">
        <tr>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Garlic">
                    <img src="{{ url_for('static', filename='img/veggies/garlic.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Garlic">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Mushrooms">
                    <img src="{{ url_for('static', filename='img/veggies/mushrooms.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Mushrooms">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Olives">
                    <img src="{{ url_for('static', filename='img/veggies/olives.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Olives">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Red Onion">
                    <img src="{{ url_for('static', filename='img/veggies/onion.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Red Onion">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Pineapple">
                    <img src="{{ url_for('static', filename='img/veggies/pineapple.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Pineapple">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Tomato">
                    <img src="{{ url_for('static', filename='img/veggies/tomato.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Tomato">
                </form>
            </td>
        </tr>
    </table>

    <h4>Meat & Cheese</h4>
    <table class="centered">
        <tr>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Anchovy">
                    <img src="{{ url_for('static', filename='img/other/fish.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Anchovy">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Ham">
                    <img src="{{ url_for('static', filename='img/other/ham.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Ham">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Pepperoni">
                    <img src="{{ url_for('static', filename='img/other/salami.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Pepperoni">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Sausage">
                    <img src="{{ url_for('static', filename='img/other/sausage.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Sausage">
                </form>
            </td>
            <td>
                <form action="/add" method="post">
                    <input type="hidden" name="topping" value="Cheese">
                    <img src="{{ url_for('static', filename='img/other/cheese.png') }}" style="width: auto; height: auto;max-width:
               150px;max-height: 150px">
                    <br>
                    <input type="submit" value="Cheese">
                </form>
            </td>
        </tr>
    </table>

    <div id="done">
        <form action="/done">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <h5 span style="color: red;">{{ message }}<h5>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <img src="{{ url_for('static', filename='img/pizza/pizza (5).png') }}" style="width: auto; height: auto;max-width:
         150px;max-height: 150px">
         <br>
        <input type="submit" value="Gimme My Pizza!">
      </form>
    </div>


    <!-- JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    <footer class="page-footer red lighten-3">
      <div class="footer-copyright">
        <div class="container">
        Made with <a class="grey-text text-lighten-3" href="http://materializecss.com">Python & Pizza</a>
        </div>
      </div>
    </footer>
  </body>
</html>
